:root {
    --rosa-hello-kitty: #fec3da;
    --vermelho-laco: #e60e0e;
    --amarelo-nariz: #f9dd5a;
    --branco-puro: #FFFFFF;
    --preto-detalhes: #000000;
    --fundo-pagina: #fff5f7;
    --fonte-corpo: 'Quicksand', sans-serif;
    --fonte-destaque: 'Fredoka One', cursive;
}

@keyframes shake {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(5deg);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

body {
    background-color: var(--fundo-pagina);
    font-family: var(--fonte-corpo);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.timer-container {
    background-color: var(--branco-puro);
    padding: 20px 40px 40px 40px;
    border-radius: 40px;
    border: 4px solid var(--rosa-hello-kitty);
    box-shadow: 0 10px 30px rgba(230, 14, 14, 0.1);
    width: 100%;
    max-width: 450px;
    text-align: center;
}

h1 {
    font-family: var(--fonte-destaque);
    font-size: 2.5rem;
    color: var(--rosa-hello-kitty);
    text-shadow: 1px 1px 1px var(--vermelho-laco);
    margin-bottom: 10px;
}

#timer-display {
    font-family: var(--fonte-destaque);
    font-size: 5rem;
    color: var(--preto-detalhes);
    text-shadow: 3px 3px 0 var(--rosa-hello-kitty);
    margin-bottom: 20px;
}

.timer-display.shake {
    animation: shake 0.4s 2;
}

.input-group {
    gap: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.input-group label {
    font-weight: 700;
}

.input-group input {
    border: 3px solid var(--rosa-hello-kitty);
    border-radius: 15px;
    width: 70px;
    padding: 8px;
    font-family: var(--fonte-destaque);
    font-size: 1.5rem;
    text-align: center;
}

.input-group input:focus {
    outline: none;
    box-shadow: 0 0 10px var(--rosa-hello-kitty);
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

button {
    border: 3px solid var(--preto-detalhes);
    color: var(--preto-detalhes);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

button:hover {
    transform: translateY(-5px);
}

button:active {
    transform: translateY(0);
}

#start-btn {
    background-color: var(--rosa-hello-kitty);
}

#pause-btn {
    background-color: var(--amarelo-nariz);
}

#reset-btn {
    background-color: var(--vermelho-laco);
    color: var(--branco-puro);
    border-color: var(--branco-puro);
}

#hello-kitty-image.mascot {
    width: 220px;
    height: auto;
    display: block;
    margin: 0 auto 15px auto;
}

.mascot.awake {
    animation: bounce 0.8s infinite ease-in-out;
}